.color_1 {
  background-color: #6D92A0;
}
.color_2 {
  background-color: #457385;
}
.color_3 {
  background-color: #27586B;
}
.color_4 {
  background-color: #113E4F;
}
.color_5 {
  background-color: #022735;
}

.header-tagline {
  color: #022735;
}
